#window-controls {
  display: flex;
}

#window-controls > button > svg {
  height: 1rem;
  width: 1rem;
  fill: var(--text-color);
}

#window-controls > #close-button:hover {
  background-color: var(--error-color);
}

#close-button:hover > svg {
  fill: var(--surface-color)
}
